# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[scrapyd]
application = scrapy_heroku.app.application

[settings]
default = medios_prensa_digitales.settings


[deploy]
#url = http://medios-digitales-api.herokuapp.com:80/
project = medios_prensa_digitales
#username = systemvas001@gmail.com
#password = AdminSystem10%